/* 
 * Created by Stephen Czekalski
 * November 30th, 2020
 */

html,
body
{
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

.header-wrapper 
{ 
    padding-top: 2rem;
}

.header-wrapper h1 
{
    margin-bottom: 0rem;
}

.header-wrapper a:link,
.header-wrapper a:active,
.header-wrapper a:visited,
.header-wrapper a:hover
{
    color: #000;
    text-decoration: none;
}

.header-wrapper p
{
    color: #b51313;
    font-weight: 700;
}

.primary-info-wrapper
{
    margin-bottom: 2rem;
}

.primary-info-wrapper .divider
{
    border-bottom: 1px solid #b9b9b9;
    padding-bottom: 1rem;
}

.primary-info-wrapper table tr td
{
    padding-right: 20px;
    padding-bottom: 10px;
}

.primary-info-wrapper label
{
    font-weight: 700;
}

.sheet-wrapper {}

.sheet-wrapper h2 
{
    margin-top: 2rem;
}

.sheet-wrapper a:link,
.sheet-wrapper a:active,
.sheet-wrapper a:visited
{
    color: #b51313;
    text-decoration: none;
}

.sheet-wrapper a:hover
{
    color: #232323;
    text-decoration: underline;
}

.sheet-wrapper .section
{
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.sheet-wrapper table
{
    min-width: 100%;
    margin-bottom: 1rem;
}

.sheet-wrapper table tr th
{
    background-color: #b5b5b5;
}

.sheet-wrapper table tr:nth-child(odd)
{
    background-color: #e0e0e0;
}

.sheet-wrapper table tr:nth-child(even)
{
    background-color: #efefef;
}

.sheet-wrapper table,
.sheet-wrapper table tr,
.sheet-wrapper table tr th,
.sheet-wrapper table tr td
{
    border: 1px solid #000;
}

.sheet-wrapper table tr th,
.sheet-wrapper table tr td
{
    padding: 5px;
}

.sheet-wrapper .at-a-glance
{
    background-color: #fbf1f1;
    border: 1px solid #680000;
    padding: 0px 10px 15px 10px;
}

.sheet-wrapper .at-a-glance h2
{
    margin-top: 0.75rem;
}