/* 
 * Created by Stephen Czekalski
 * November 30th, 2020
 */

html,
body
{
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

.header-wrapper 
{ 
    padding-top: 2rem;
}

.header-wrapper h1 
{
    margin-bottom: 0rem;
}

.header-wrapper a:link,
.header-wrapper a:active,
.header-wrapper a:visited,
.header-wrapper a:hover
{
    color: #000;
    text-decoration: none;
}

.header-wrapper p
{
    color: #b51313;
    font-weight: 700;
    padding-left: 5px;
}

.primary-info-wrapper
{
    padding-top: 1rem;
}

.primary-info-wrapper .divider
{
    border-bottom: 1px solid #b9b9b9;
    padding-bottom: 1rem;
}

.primary-info-wrapper table tr td
{
    padding-right: 20px;
    padding-bottom: 10px;
}

.primary-info-wrapper label
{
    font-weight: 700;
}
